h1{

text-align: center;

margin-bottom: 50px;

}

* {

box-sizing: border-box;

margin: 0;

padding: 0;

}

div#container {

/*background-color: #00FFFF;*/

position: relative;

top: 60px;

margin: 0;

}

/********** Large devices only **********/

@media (min-width: 992px) {

div #p1{

background-color: pink;

border: 1px solid black;

padding: 2.5px 10px ;

position: absolute;

top: 98px;

left: 23.75%;

width: 10%;

height: 6%;

text-align: center;

float: left;





}

div #p2{

background-color: grey;

border: 1px solid black;

padding: 5px;

padding-top: 50px;

width: 30%;

margin-right: 2.5%;

/*clear: left;*/

float: left;



/*position:absolute;*/

/*height: 150px;*/

}

div #p3{

background-color: red;

color: white;

border: 1px solid black;

padding: 2.5px 10px ;

position: absolute;

top: 98px;

right: 37.75%;

width: 12%;

height: 6%;

text-align: center; 

float: right;
}

div #p4{

background-color: grey;

border: 1px solid black;

padding: 5px;

padding-top: 50px;

float: left;

width: 30%;

margin-right: 2.5%;

margin-left: 2.5%;
}
div #p5{

background-color: brown;

color: white;

border: 1px solid black;

padding: 2.5px 10px ;

position: absolute;

top: 98px;

right: 9.4%;

width: 10%;

height: 6%;

text-align: center;

float: right;
}

div #p6{

background-color: grey;

border: 1px solid black;

padding: 5px;

padding-top: 50px;

float: left;

margin-left: 2.5%;

width: 30%;
}
}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width:991px) {

div #p1{

background-color: pink;

border: 1px solid black;

padding: 2.5px 10px ;

font-weight: bold;

font-size: 20px;

position: absolute;

left: 320px;

width: 100px;

height: 40px;

text-align: center;

float: right;
}

div #p2{

background-color: grey;

border: 1px solid black;

padding: 5px;

padding-top: 50px;

float: left;

width: 48.5%;

margin-right: 10px;
}

div #p3{

background-color: red;

border: 1px solid black;

padding: 2.5px 10px ;

position: absolute;

font-weight: bold;

font-size: 20px;

right: 85px;

width: 120px;

height: 40px;

text-align: center;

float: right;



}



div #p4{

background-color: grey;

border: 1px solid black;

padding: 5px;

padding-top: 50px;

float: left;

width: 48.5%;

margin-left: 10px;



}



div #p5{

background-color: brown;

border: 1px solid black;

padding: 2.5px 10px ;

font-weight: bold;

font-size: 20px;

position: absolute;

top: 315px;

right: 85px;

width: 100px;

height: 40px;

text-align: center;

float: right;



}

div #p6{

background-color: grey;

border: 1px solid black;

padding: 5px;

padding-top: 50px;

float: left;

width: 100%;
}
}
/******Small devices only**********/

@media (max-width: 767px){

div #p1{

background-color: pink;

border: 1px solid black;

padding: 2.5px 10px ;

position: absolute;

font-size: 20px;

font-weight: bold;

/*top: 0px;*/

right: 42px;

width: 100px;

height: 40px;

text-align: center;

float: right;
}

div #p2{

background-color: grey;

border: 1px solid black;

padding: 5px;

padding-top: 50px;

float: left;

width: 100%;
}

div #p3{

background-color: red;

color: white;

border: 1px solid black;

padding: 2.5px 10px ;

font-size: 20px;

font-weight: bold;

position: absolute;

top: 267px;

right: 42px;

width: 120px;

height: 40px;

text-align: center;

float: right;
}

div #p4{

background-color: grey;

border: 1px solid black;

padding: 5px;

padding-top: 50px;

float: left;

width: 100%;
}

div #p5{

background-color: yellow;

border: 1px solid black;

padding: 2.5px 10px ;

position: absolute;

right: 42px;

top: 436px;

font-size: 20px;

font-weight: bold;

width: 100px;

height: 40px;

text-align: center;

float: right;
}

div #p6{

background-color: grey;

border: 1px solid black;

padding: 5px;

padding-top: 50px;

float: left;

width: 100%;
}
}
